<div class="about-section">
    <link href="C:\Users\JEVISHA\style1.css" rel="stylesheet" type="text/css">
    <h1>About Us </h1>
    <h2>Sushiksha</h2>
    <p>
        Sushiksha Mentoring Program is organized for scholars of Vishwa Konkani Student Scholarship Fund (VKSSF) by members of VKSSF Alumni Association (VAA). Sushiksha was started in 2018 by Royal Denzil Sequeira, a member of VAA since 2015, with 20 mentees. Since then Sushiksha has grown to be family of 170 mentees and 20 mentors. Mentees of Sushiksha are undergraduate scholars of VKSSF who are determined to thrive and be successful in their area of study and career. Mentors of Sushiksha Program are experienced professionals who were once the scholars of VKSSF and have lived through their own share of successes and failures but believe in empowering the scholars early on in their career path.

        Sushiksha thrives because of the dedication of its active mentees and mentors – who have contributed countless hours of work to shape their future and make it a highly productive and focused workspace.</p>
    <h2>Sushiksha Coding League</h2>
    <p>Sushiksha Coding League is nothing but a Coding School Initiative with a difference. The Coding School thought was infact ignited by Shri T V Mohandas Pai from the Prerna Stage in 2020. The Alumni took it forward and brought a cool quotient to the brand with a feel of cricketing spirit. The Tagline of SCL is “Anybody Can Code” – it means a great coder can come from any corner of faculty.
    </p>
        <h2>
        Digital Education APP
    </h2>
    <p>This app is one such platform where students can view as well as listen to the pre-recorded lectures or chapter wise lessons delivered by instructors</p>
    <p>It includes Query Box, Brainteasers to improve thinking capabilities and also calender of events. Learner can share feedbacks as well as rate their experience. </p>
     <p>It contains Analytics and Statistics to help student analyze their progress and it includes News and Updates where students can extend their knowledge </p>
</div>